.logo-item a:hover {
 color: #01411c;
}

.nav-list-itemss:link:hover {
 color:#01411c ;
}


 

.nav-container-section{
 display: flex;
  max-width: 1200px;
  height: 100%;
  padding: 10px;
  align-items: center;
}


.menu-items {
 display: flex;
 height: 100%;
 align-items: center;

}

.col {
 display: flex;
 height: 100%;
}


.menu-item {
 margin: 0 15px;
 font-size: 1rem;
 -webkit-transition: all 2s 0s ease-in-out;
  -moz-transition: all 2s 0s ease-in-out;
  -o-transition: all 2s 0s ease-in-out;
  transition: all 2s 0s ease-in-out;
 

}

.logoimage{
  height: 50px;
  width: 50px;
  object-fit: cover;
}


.logoimage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menu-item a {
 color: tomato;
 padding: 10px;
 border-radius: 5px;
}

.menu-link.active {
 font-weight: 800;
 border-bottom: 4px solid rgb(0, 65, 44);
 color: rgb(0, 65, 44);
}

.menu-item a:hover {
 color: white;
 background-color: #02933d;
 border-radius: 5px;
}