.testimonial-section {
 margin-top: 70px;
 margin-bottom: 20px;
}


.slider-page:hover {
 background-color: #800000;
 box-shadow: -6px 11px 5px -4px rgba(70, 67, 67, 0.42);
 -webkit-box-shadow: -6px 11px 5px -4px rgba(107, 101, 101, 0.42);
 -moz-box-shadow: -6px 11px 5px -4px rgba(101, 93, 93, 0.42);
}



.slider-page {
 margin: 5px;
 color: white;
 padding: 10px;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 30px;
 cursor: pointer;

 border-radius: 5px;
 -webkit-transition: all 2s 0s ease-in-out;
 -moz-transition: all 2s 0s ease-in-out;
 -o-transition: all 2s 0s ease-in-out;
 transition: all 2s 0s ease-in-out;

}




.slider-page img.slider-image {
 width: 80px;
 height: 80px;
 border-radius: 90px;
 display: block;
 margin: 0;
 margin: 0 auto;
 margin-top: -30px;
 object-fit: cover;
}

.slick-prev:before {
 color: tomato !important;
 font-size: 30px;
}

.slick-next:before {
 color: tomato !important;
 font-size: 30px;
}